
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartClass - Teacher Dashboard</title>
    <link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}">
</head>

<body style="background-image: url('{% static 'core/images/class2.jpg' %}'); 
             background-size: cover; 
             background-repeat: no-repeat; 
             background-attachment: fixed;">
             
<!-- <div style="position: fixed; top: 20px; left: 20px; z-index: 10000;border-style: groove;background-color: white;border-radius: 50%;">
        <img src="{% static 'core/images/smartlogo.png' %}" alt="Logo" height="60" width="60" style="border-style: groove;border-radius: 50%;background-color: white; position: fixed; top: 5px; left: 20px; z-index: 10000;">
  </div> -->
    

        <img src="{% static 'core/images/smartlogo.png' %}" alt="Logo" height="60" width="60" style="position: fixed; top: 20px; left: 20px; z-index: 10000;border-style: groove;background-color: white;border-radius: 50%;border-style: groove;border-radius: 50%;background-color: white; position: fixed; top: 5px; left: 20px; z-index: 10000;">


    <div style="position: fixed; top: 10px; right: 10px; z-index: 9999;">
        <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
    </div>
    
    <div class="dashboard-container" style="margin-top: 10%;">
        <header class="dashboard-header">
<marquee behavior="slide" direction="left" loop="1" scrollamount="15">
  <h1 style="color: black;">
    Welcome Teacher, 
    <span style="color: crimson;">{{ request.user.username }}</span>
  </h1>
</marquee>    
 
     <!-- <p class="role">Logged in as: <strong>{{ user_type }}</strong></p> -->
            <!-- <a href="{% url 'logout' %}" class="logout-btn">Logout</a> -->
        </header>

        <main class="dashboard-main">
            <div style="border-style:solid;border-radius: 5px;border-color: rgb(73, 207, 244);background-color: rgb(15, 131, 240);">
            <center><h2 style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic ;">👩‍🏫 Teacher Tools</h2></center>
            <ul class="features-list">
                <li>📝 <a href="{% url 'teacher_quizzes' %}" class="quiz-link" style="">Create & Launch Live Quizzes</a></li>
                <li>❓ <a href="{% url 'manage_doubts' %}">Manage Doubt Queue</a>
 </li>
                <li>📑 <a href="{% url 'monitor_engagement' %}">Monitor Student Engagement</a>
</li>
                <li>📈 Access Performance Reports</a>
</li>

            </ul>
            </div>
            
        </main>
    </div>
    
</body>
</html>